.storytext {
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    left: 0;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    h2 {
        margin-top: 10px;
        margin-left: 10px;

    };
    p {
        margin: 10px;
        font-size: larger
    };
    button {
        border: none;
        background: #cab471;
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 30px;
        border-radius: 10px;
        font-size: large;
        color: aliceblue;
    }
}